<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>TOM N JERRY | A MINIMAX GAME</title>
  <link rel="stylesheet" href="https://kowndinya2000.github.io/cs512.github.io/home.css">
  <link rel="shortcut icon" href="https://kowndinya2000.github.io/cs512.github.io/jerry_goal.ico" type="image/x-icon">
    <style>
        @font-face {
            font-family: gamef;
            src: url("https://kowndinya2000.github.io/cs512.github.io/Orbitron-SemiBold.ttf");
        }
    </style>
</head>
<body>
<div class="content">
   <div class="planet">
      <div class="ring"></div>
         <div class="cover-ring"></div>
      <div class="spots">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <a href="/home" style="visibility: hidden;" id="home">Home</a>
      </div>
   </div>
   <p style="font-family: gamef;width: 30rem;">Loading Tom n Jerry's Minimax game ...</p>
   <script>
      setTimeout(() => {
         document.getElementById("home").click()
      }, 1500);
   </script>
   </div>  
</body>
</html>
